/* Progress bar - https://www.youtube.com/watch?v=JtrFzoL1joI */

/* Body design */
html, body {
  margin: 0;
  padding: 0;
  background:#111; 
  color:#0ff; 
  font-family:monospace; 
  text-align:center; 
}

/* Canvas design */
canvas {
  position: absolute;
  left: 0;
  top: 0;
}

/* Neon button effect */
.neon-btn {
  position: relative;
  font-size: 1.5rem;
  font-weight: 750;
  color: #fff;
  background: #000;
  border: 2px solid #0ff;
  cursor: pointer;
  overflow: visible;
  transition: all 0.3s ease;
  box-shadow: 0 0 12px rgba(0, 255, 255, 0.6);
  border-radius: 12px;
  
}
.neon-btn::before,
.neon-btn::after {
  content: "";
  position: absolute;
  inset: -6px;
  border: 2px solid #0ff;
  border-radius: inherit;
  animation: pulseOut 2s ease-out infinite;
  opacity: 0;
}
.neon-btn::after {
  animation-delay: 1s;
}

/* lines around button effect */
@keyframes pulseOut {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(1.5);
    opacity: 0;
  }
}

/* Non display of hidden */
.hidden{
  display: none !important;
}

/* Layout design */
#layout{
  display: flex;
  width: 100%;
  height: 100vh;
}

/* left panel(song list) */
#leftPanel {
  width: 20%;
  background: #05ADDE;
  padding: 20px;
}

/* right panel(vid/lyrics list) */
#rightPanel {
  width: 80%; 
  position: relative;
}

/* bottom panel(buttons) */
#bottomPanel {
  position: absolute;
  height: 25%;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  background: #FDCBE8;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

/* Video design */
#myVideo {
  position: absolute;
  border-radius: 100px;
  border: 2px solid #F3DEFA;
  z-index: 1;
  padding: 0px; 
  width: 350px;
  height: 350px;
  margin-left: 52%;
  margin-top: 5%;
}

/* Button design */
.button {
  background-color: #0285C0;
  width: 350px;
  border: none;
  border-radius: 150px;
  color: #FCCAE8;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 10px ;
  cursor: pointer;
  transition-duration: 0.4s;
}

/* hover effect */
.button:hover {
  box-shadow: 0 8px 16px 0 #FB3499;
}